page-about {
    .about {
        justify-content: center;
        max-width: 120vh;
    }
    .about-parent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        h1 {
            font-size: calc(1.4em + 1.5vw);
        }
        p {
            font-size: calc(1em + 0.2vw);
            line-height: 2em;
        }
    }
    img {
        margin: 0px;
    }
}
