<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="heading">
    <h1>Guten Tag<span *ngIf="!name">!</span><span *ngIf="name">, {{ name }}!</span></h1>
    <span class="weather-display">
      <p *ngIf="weather">
        {{ location }}: <strong>{{ temperature }}° C</strong>
      </p>
    </span>
  </div>
  <div class="select">
    <p>Wähle eine Bahn aus um zu beginnen!</p>
    <ion-list>
      <ion-item>
        <ion-label>Bahn</ion-label>
        <ion-select [(ngModel)]="route">
          <ion-option value="kurz">Kurz</ion-option>
          <ion-option value="mittel">Mittel</ion-option>
          <ion-option value="lang">Lang</ion-option>
          <ion-option value="zufall">Zufällig</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button full clear>Loslegen!</button>
  </div>
</ion-content>
