page-home {
    .heading {
        background-color: color($colors, primary);
        background-image: url('../assets/imgs/bg_temp.jpg');
        background-size: cover;
        background-position: center; 
        margin: 0px;
        min-height: calc(50vh - 100px);
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1, p {
            text-align: center;
            color: color($colors, light);
            text-shadow: 0px 0px 40px rgba(0,0,0,0.7);
        }
        h1 {
            padding-top: 50px;
            margin: 0px;
            font-size: calc(2.2em + 2vw);
        }
        p {
            font-size: calc(1.2em + 1vw);
        }
    }
    .select-parent {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .select {
        width: 100%;
        max-width: 500px;
    }
    .select > p {
        text-align: center;
        padding: 20px;
    }
    .weather-display {
        min-height: 20px;
    }
}
